p#title-card-1{
    font-size: 18px;
    font-weight: bold;
}
img#img-business-2-2{
    width: 30%;
    margin-top: 100px;
    height: 30%;
    max-height: 100%;
    max-width: 100%;
}
img#img-business-2{
    width: 30%;
    margin-top: 100px;
    height: 30%;
    max-height: 100%;
    max-width: 100%;
}
img#img-business-2-1{
    width: 30%;
    margin-top: 100px;
    height: 30%;
    max-height: 100%;
    max-width: 100%;
}
