p#txt-pricing{
    font-size: 19px;
    text-align: center;
}
p#txt-pricing-1{
    font-size: 19px;
    text-align: center;
}
p#txt-pricing-2{
    font-size: 19px;
    text-align: center;
}
li#pricing-1{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-2{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-3{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-4{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-5{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-6{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-7{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-9{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-8{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-11{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-10{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-12{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-13{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-14{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-15{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-16{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-17{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-18{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-19{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-20{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-21{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
li#pricing-22{
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
}
