<div style="background: #0079bf;height: 300px;">
    <div class="">
        <p id="guide-title-1"><br><br>Làm Quen Với Trello</p>
        <p id="guide-description-1">Học cách sử dụng Trello cơ bản để biến tất cả giấc mơ quản lý của bạn thành sự thật.</p>
    </div>
</div>
<div class="guide-body">
    <div class="container">
        <p id="guide-theme">Chúng tôi sẽ cho bạn thấy làm việc với Trello rất dễ dàng. <strong>Hãy chọn một chủ đề dưới đây</strong> hoặc kéo xuống nữa để xem thêm một vài ý tưởng tuyệt vời khác.</p>
        <div class="row" style="text-align: center;">
            <div class="col-md-4">
                <button class="btn btn-default" ><img id="img-guide-item-1" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/7712b396301cdcf686f8ff3aaf216ba0/trello-101-graphic.png" alt=""></button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-default" ><img id="img-guide-item-2" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/b805bfa26fc4ba4f9c2acb6c346abb1d/create-a-board-graphic.png" alt=""></button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-default" ><img id="img-guide-item-3" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/ac8917585d463a1a4c858fd6647f7147/feature-deep-dive-graphic@2x.png" alt=""></button>
            </div>
        </div>
        <div class="row" style="text-align: center; margin-top: 30px;">
            <div class="col-md-4">
                <button class="btn btn-default" ><img id="img-guide-item-4" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/1a2e5bc53fca13108849583c434a3808/team-administration-graphic.png" alt=""></button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-default" ><img id="img-guide-item-5" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/47a77cd33a2b0fdd28a52c984d2d3edb/pro-tips-graphic.png" alt=""></button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-default" ><img id="img-guide-item-6" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/e612be4b49c363e8be8046fdc70dd6bd/how-to-leave-your-old-tools-graphic.png" alt=""></button>
            </div>
        </div>
    </div>
</div>
<div style="background: #0079bf;height: 500px;margin-top: 40px;">
    <div class="" style="text-align: center;">
        <img id="img-world" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/817f1cc5d67dc4c458fb76d155564a9d/world.png" alt="">
        <p id="guide-title-2">Một số ý tưởng tuyệt vời khác của Trello</p>
        <p id="guide-description-4">Mọi người sử dụng Trello cho bất kỳ công việc nào mà họ nghĩ ra. Hãy xem thử một số ví dụ về cách mọi người sử dụng Trello để quản lý công việc của mình.</p>
    </div>
</div>
<div style="background: #42548e;height: 900px;">
    <div class="" style="text-align: center;">
        <img id="img-world-1" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/fba429a08b5348186de106e8e7f6f43b/work.png" alt="">
        <p id="guide-title-3">Trello tại nơi làm việc</p>
        <p id="guide-description-3">Hàng nghìn doanh nghiệp sử dụng Trello mỗi ngày.<strong>
            Nhấn vào những công ty tuyệt vời dưới đây</strong> để xem cách họ ứng dụng Trello như một thành phần không thể thiếu trong quy trình làm việc của mình.</p><br>
        <div class="row-guide">
            <div class="col-md-3">
                <a href="#"><img id="img-guide-item-9" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/1f52c16b45977366f089d274256d0e3d/business-class-burgerfi.png" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img id="img-guide-item-7" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/eac31b70496bdc72dd20835293d86a63/business-class-deutschebahn.png" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img id="img-guide-item-8" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/329c1954a9f08526e6129bfb91f026cc/business-class-mccorvey.png" alt=""></a>
            </div>
        </div>
        <p id="guide-description" style="padding-top:130px;">Business Class giúp bạn nâng cao hiệu suất làm việc của nhóm và nhận thêm các tính năng quản trị mà bạn cần. Tìm hiểu về <a href="/business">Business Class.</a></p>
    </div>
</div>
<div style="height: 300px;background-color:#838fb5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img id="webinar" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/83e3271dcf6326eff2e2038bd26ca75a/webinar-icon.png" alt="">
            </div>
            <div class="col-md-7">
                <p id="guide-webinar">Bắt kịp tốc độ và sử dụng Trello một cách dễ dàng. Tham dự một webinar Trello miễn phí.</p>
            </div>
        </div>
    </div>
</div>
<div class="guide-table">
    <p id="guide-table">Còn chần chừ gì nữa?<br>
        Hãy mở bảng ra và <strong>bắt đầu thực hiện các công việc nào!</strong></p><br><br><br>
</div>
