<nav class="navbar-inverse" style="background-color: #3a476f">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-4">
            <a href="" style="color: white; font-size: 1.5em">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/c13d1cd96a2cff30f0460a5e1860c5ea/header-logo-blue.svg" style="background: none" alt="" width="100px" height="60px">
            </a>
        </div>

        <ul [hidden]="isAuthenticated" class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        </ul>

        <ul [hidden]="!isAuthenticated" class="nav navbar-nav navbar-right">
            <li><a href="/user"><span class="glyphicon glyphicon-user"></span>{{currentUser?.name}}</a>
            </li>
            <li><a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet>
</router-outlet>
<div class="footer">
    <footer>
        <div class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <address style="margin-top: 40px;font-size: 15px;text-align:left">
                            Email: thanhquangtruong96@gmail.com<br>
                            Website Quản lý công việc<br>
                            Điện thoại:0985650547 <br>
                            Địa chỉ: Võ văn Ngân P. Bình Thọ Q.Thủ Đức - TPHCM<br>
                        </address>
                    </div>
                    <div class="col-sm-4" style="margin-left: -40px; margin-top:20px">
                        <h4 class="tit-footer">Hãy kết nối với chúng tôi thông qua</h4>
                        <div class="footer-social clearfix">
                            <a href="#"><i class="fa fa-facebook-f icon_footer"></i></a>
                            <a href="#"><i class="fa fa-google-plus icon_footer"></i></a>
                            <a href="#"><i class="fa fa-youtube icon_footer"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-left: 40px;margin-top:10px">
                        <h4 class="tit-footer">Hãy đăng ký để trở thành thành viên của chúng tôi!
                        </h4>
                        <div class="footer-social descript">
                            <p>Công cụ quản trị giúp nhà lãnh đạo theo dõi, giám sát, đánh giá tiến độ hoàn thành mục tiêu - công việc của nhân viên; đơn giản, dễ dùng, tiết kiệm thời gian và trực quan nhất!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bottom-footer">
                    <div class="col-sm-4">

                        &copy; Copyright 2017, Trello, Inc. All rights reserved.
                    </div>
                    <div class="col-sm-8">
                        <ul class="footer-nav">
                            <li><a href="index.html">Trang Chủ</a></li>
                            <li><a href="tour.html">Tham quan</a></li>
                            <li><a href="pricing.html">Biểu phí</a></li>
                            <li><a href="platforms.html">Ứng dụng</a></li>
                            <li><a href="legal/history.html">Về chúng tôi</a></li>
                            <li><a href="legal/service.html">Pháp lý</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>


