<div class="container-fluid">

    <div id="section-user" class="col-md-4">
        <h3>User Details</h3>
        <ul>
            <li>
                <span class="field-name">Name: </span>
                <span class="">{{user?.name}}</span></li>
            <li>
                <span class="field-name">Username: </span>
                <span class="">{{user?.username}}</span></li>
            <li>
                <span class="field-name">Email: </span>
                <span class="">{{user?.email}}</span></li>
            <li>
                <span class="field-name">Id: </span>
                <span class="">{{user?.id}}</span></li>
        </ul>
    </div>

    <div id="section-projects" class="col-md-8">
        <h3>All your projects:</h3>

        <div *ngFor="let project of projects"
             (click)="openProject(project.id)">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">{{project.name}}</h4>
                    <ul>
                        <li>
                            <span class="field-name">Id: </span>
                            <span class="">{{project.id}}</span></li>
                        <li>
                            <span class="field-name">Description: </span>
                            <span class="">{{project.description}}</span></li>
                        <li>
                            <span class="field-name">Public: </span>
                            <span class="">{{project.isPublic?'true':'false'}}</span></li>
                        <li>
                            <span class="field-name">Admin: </span>
                            <span class="">{{project.isAdmin?'true':'false'}}</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <a href="#" data-target="#myModal" data-toggle="modal">Tao project moi</a>
        </div>

    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">

                    <form class="frm_new_project">
                        <span class="error-message" [hidden]="!hasError">{{errorMessage}}</span>
                        <div class="form-group">
                            <label for="inp_n">Ten project</label>
                            <input id="inp_n" name="pname" type="text" class="form-control"
                                   [(ngModel)]="newProjectName"/>
                        </div>
                        <div class="form-group">
                            <label for="inp_d">mo ta project</label>
                            <input id="inp_d" name="desc" type="text" class="form-control"
                                   [(ngModel)]="newProjectDescription"/>
                        </div>
                        <div class="form-group">
                            <label for="inp_p">Cong khai ?</label>
                            <input id="inp_p" name="public" type="checkbox" class="form-control"
                                   (checked)="newProjectPublic"/> public
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createNewProject()">
                        Tao
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>


