<h4 class="card-title">{{project.name}}</h4>
<ul>
    <li>
        <span class="field-name">Id: </span>
        <span class="">{{project.id}}</span></li>
    <li>
        <span class="field-name">Description: </span>
        <span class="">{{project.description}}</span></li>
    <li>
        <span class="field-name">Public: </span>
        <span class="">{{project.isPublic?'true':'false'}}</span></li>
    <li>
        <span class="field-name">Admin: </span>
        <span class="">{{project.isAdmin?'true':'false'}}</span></li>
</ul>
