<div class="container">
    <p id="title_platforms">Trello vận hành trơn tru bất kể bạn đang ở đâu.</p>
    <div class="icon"  style="text-align: center;">
        <div class="row">
            <div class="col-md-3">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/de3e7a3eaffba6524ed7facaaf892a32/web-icon.png" alt="">
                <p id="platforms-img-tittle-1">Web</p>
                <button type="button" class="btn btn-view-trello-platforms">Trello.com →</button>
            </div>
            <div class="col-md-6">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/7807a4351b6b1b739b7bb714ce5bc792/mobile-icon.png" alt="">
                <p id="platforms-img-tittle-2">Dành cho di động</p>
                <img id="icon-mobile-platforms-1" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/fdb01517f21f16d885317f0ff7937855/button-app-store_fr.png" alt="" style="margin-bottom: 20px;"><br>
                <img id="icon-mobile-platforms" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/6544ee9609da6c6512ef2a641d0aa9a1/button-google-play_fr.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/eb9c40dbdb349d8b5a962647811fd898/desktop-icon.png" alt="">
                <p id="platforms-img-tittle">Desktop</p>
                <img id="icon-desktop-platforms-2" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/fdb01517f21f16d885317f0ff7937855/button-app-store_fr.png" alt="" style="margin-bottom: 20px;">
                <img id="icon-desktop-platforms" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/7dfd91215e39f2695b1120a520e4d830/button-windows-store_fr.png" alt="" style="margin-left: -5px;">
            </div>
        </div>
    </div>
    <p id="platforms_title-browser">Trello được hỗ trợ trên các trình duyệt hiện đại này.</p>
    <div class="icon" style="text-align: center;">
        <div class="row-browser">
            <div class="col-md-3">
                <div>
                    <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/d53da993c26bc5621605823a302c79e8/icon-chrome.png" alt="">
                </div>
                <div>
                    <p id="title-browser-2-platforms-3">Mới nhất</p>
                    <button type="button" class="btn btn-download_platforms">Tải xuống</button>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/b555658f3b2f9cf49ca719f8ac4bed94/icon-firefox.png" alt="">
                </div>
                <div>
                    <p id="title-browser-2-platforms-4">Mới nhất</p>
                    <button type="button" class="btn btn-download_platforms">Tải xuống</button>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/d77a5112cd2ad755f4978bdde57a5055/icon-explorer.png" alt="">
                </div>
                <div>
                    <p id="title-browser-2-platforms-5">11/Edge</p>
                    <button type="button" class="btn btn-download_platforms">Tải xuống</button>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/fc44e47e33c88e880ee14507e680e70d/icon-safari.png" alt="">
                </div>
                <div>
                    <p id="title-browser-2-platforms">9+</p>
                    <button type="button" class="btn btn-download_platforms">Tải xuống</button>
                </div>
            </div>
        </div>
    </div>
</div>
