p#title-browser-2-platforms{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
p#platforms-img-tittle-1{
    font-size: 30px;
    margin-left: 0px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}
p#platforms-img-tittle-2{
    font-size: 30px;
    margin-left: 0px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}
p#title-browser-2-platforms-3{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
p#title-browser-2-platforms-4{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
p#title-browser-2-platforms-5{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
