<div class="background-api" style="height: 830px;">
    <div class="container">
        <div class="image_index_business">
            <img id="img-trello-gold" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/59cd5dc9d3ec42d3bc204116da8a3e79/trello-gold-logo-gold.svg" alt="">
        </div>
        <p id="txt-trello-gold"><strong>Nhận thêm tính năng thú vị và hấp dẫn.</strong></p>
        <div class="row" style="margin-left:250px;text-align:center;">
            <div class="col-md-4" style="text-align:center;">
                <p id="txt-free-1">$5 mỗi tháng</p>
                <p id="txt-free-3">hoặc $45 mỗi năm</p>
                <div class="button" style="text-align: center; margin-top: 20px;; margin-bottom: 40px">
                    <button type="button" class="btn btn-update">Nâng cấp</button>
                </div>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <p id="txt-free">Nhận miễn phí</p>
                <p id="txt-free-4">bằng cách mời thêm thành viên mới</p>
                <div class="buton" style="text-align: center; margin-top: 20px;; margin-bottom: 40px">
                    <button type="button" class="btn btn-update">Chia sẻ Trello</button>
                </div>
            </div>
        </div>
        <p id="txt-trello-gold-2">Hứng thú với việc nhận Trello Gold cho tất cả mọi người trong nhóm của bạn?</p>
        <br>
        <a href="/business"><p id="txt-trello-gold-2-1">Tìm hiểu thêm về Business Class</p></a>
    </div>
</div>
<div style="height: 450px;background-color:#7c8fd3">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/b45c8bccde359af6cf2369ddb126ad4f/usecases-powerups.jpg" alt="" style="margin-top: 80px;max-height: 100%; max-width: 100%;height: 90%;width: 90%">
            </div>
            <div class="col-md-7">
                <p id="txt-trello-gold-3">Mở rộng các bảng của bạn! Bật lên đến ba Phần mở rộng cho các bảng của bạn để đưa các tính năng và tích hợp mới như Google Drive, Slack, GitHub, Salesforce, và nhiều hơn nữa vào quy trình làm việc của bạn.</p>
                <div style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
                    <a href="#" class="btn btn-power-trello" role="button">Power-Up Your Workflow</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 350px;background-color:#faf3c0">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p id="txt-trello-gold-4">10MB tệp đính kèm liệu có đủ lớn? Với Trello Gold, bạn có thể <strong>tải lên tệp tin nặng tới 250 megabytes.</strong></p>
            </div>
            <div class="col-md-5">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/1b7b00b4ac60be19e44fe6c6d2c0d17a/gold-uploads.png" alt="" style="max-width: 100%; max-height: 100%; margin-top: 80px;">
            </div>

        </div>
    </div>
</div>
<div style="height: 400px;background-color:#fdfae5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/d6ac537b0a0c7c7e4b211ef6204d35ac/gold-backgrounds.png" alt="" style="margin-top: 80px;max-height: 100%; max-width: 100%;">
            </div>
            <div class="col-md-7">
                <p id="txt-trello-gold-4-1">Bạn sẽ có quyền truy cập vào các hình nền bằng ảnh không giới hạn và sáu màu cơ bản để giúp bạn dễ dàng phân loại và phân biệt các bảng của bạn. Với Trello Gold, bạn có thể <strong>tải lên hình nền của chính bạn</strong></p>
            </div>
        </div>
    </div>
</div>
<div style="height: 600px;">
    <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/0cec2ec0d110dac5788c097b94ec49a5/gold-stickers.png" alt="" style="margin-left: 240px;margin-top: 80px;max-height: 100%; max-width: 100%;">
    <p id="trello-text-sticket">Trello mang đến cho bạn hàng hàng tá nhãn dán để diễn tả bản thân sống động hơn. Với Trello Gold, bạn được truy cập tới <strong>những bộ nhãn dán bổ sung cao cấp.</strong> Giống như gói có Taco, chú chó husky biết nói của chúng tôi. Và một gọi về chiếc máy tính thân thiện Pete. Nếu bằng đó vẫn chưa đủ, <strong>bạn có thể tải lên những nhãn dán của riêng mình.</strong></p>
</div>
<div class="body-4" style="height: 450px; background-color: #eff0f0">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p id="trelo-gold-txt2">Đôi khi một biểu tượng  còn giá trị hơn cả ngàn từ. Đó là tại sao Trello có hơn 800 biểu tượng cảm xúc để sử dụng trong bình luận, các mục trong danh sách công việc, mô tả và nhiều chỗ khác. Nếu bạn không thể tìm thấy biểu tượng hoàn hảo để diễn tả cảm xúc của mình, bạn có thể <strong>tự tải lên biểu tượng cảm xúc của mình</strong> với Trello Gold.</p>
            </div>
            <div class="col-md-5">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/0d324a7844d218b887c7ac42a55db27d/gold-emoji.png" alt="">
            </div>
        </div>
    </div>
</div>
<div>
    <p id="txt-trello-gold-1"><strong>Bao gồm những ai?</strong></p>
    <div style="text-align: center;">
        <img src="https://drive.google.com/file/d/1pSt3_O3Wu2jEx_5D4uDBZZlZ1XGlKSJf/view?usp=sharing" alt="">
    </div>
</div>
