<div style="background-color: #e0e0e0">
    <div class="container ">
        <form class="frm_Login">
            <h2 class="alignCenter">Đăng nhập tài khoản</h2>
            <br>
            <span class="error-message" [hidden]="!hasError">{{errorMessage}}</span>
            <div class="form-group">
                <label for="inp_usn">Tài khoản</label>
                <input id="inp_usn" name="username" type="text" class="form-control" [(ngModel)]="username"/>
            </div>
            <div class="form-group">
                <label for="inp_pass">Mật khẩu</label>
                <input id="inp_pass" name="password" type="password" class="form-control" [(ngModel)]="password"/>
            </div>
            <div class="form-group">
                <!--<div class="col-sm-6">-->
                <!--<div class="checkbox">-->
                <!--<a href="ForgotPassword.html">Quên mật khẩu?</a>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label><input type="checkbox" value="" (checked)="isRemember">Ghi nhớ mật khẩu</label>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="alignCenter">
                <small>Nếu bạn chưa có tài khoản, hãy <a routerLink="/signup">tạo cho mình một tài khoản.</a></small>
            </div>
            <br>
            <div class="alignCenter">
                <button type="submit" class="btn signup" (click)="login()">Đăng nhập</button>
            </div>
            <!--<br>-->
            <!--<div class="button" style="margin-left: 100px;">-->
            <!--<input type="submit" class="btn btn-primary" value="Đăng nhập" (click)="login()">-->
            <!--</div>-->
        </form>
    </div>
</div>
