<body style="background-color: #e0e0e0">
<div class="container">
    <form class="frm_Login">
        <h2 class = "alignCenter " style="margin-top: 0">Đổi mật khẩu</h2>
        <br>
        <div class="form-group">
            <label >Tài khoản</label>
            <input name = "userid" type ="text" class="form-control"  disabled>
        </div>
        <div class="form-group">
            <label >Mật khẩu cũ</label>
            <input name="password" type ="password" class="form-control" >
        </div>
        <div class="form-group">
            <label >Mật khẩu mới</label>
            <input name="password" type ="password" class="form-control" >
        </div>
        <div class="form-group">
            <label >Nhập lại mật khẩu mới</label>
            <input name="password" type ="password" class="form-control" >
        </div>
        <input type="hidden"  value ="login" name="command">
        <input type="submit" class="btn btn-primary" value="Xác nhận" id="btn_Login">
        <a href="#" class="btn btn-warning">Trở về</a>
    </form>
</div>
</body>
