<div class="background-api" style="height: 650px;background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/25743b105164f648de750f609069987b/business-class-header-transparent.png');background-color:#42548e">
    <div class="image_index_business">
        <img id="img-business" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/45a8855f9b475a7d36eac99d9902792e/business-class-logo-white.svg" alt="">
    </div>
    <p id="txt-business-1"><strong>Làm việc với tầm nhìn chiến lược.</strong></p>
    <p id="txt-business2">Trello Business Class là một không gian rộng mở dành cho các nhóm để cộng tác, giao tiếp và chia sẻ thông tin một cách an toàn.</p>
    <div class="buton" style="text-align: center; margin-top: 20px;; margin-bottom: 40px">
        <button type="button" class="btn btn-upgrade">Nâng cấp nhóm của tôi</button>
    </div>
    <p id="txt-business-2"><strong><a href="#" style="text-decoration: underline; color: white;">Chỉ $9.99 cho một người dùng / tháng</a></strong></p>
    <p id="txt-business">khi trả theo hằng năm</p>
</div>
<div style="height: 750px;background-color:#3a476f">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-md-4">
                <div class="text">
                    <p id="txt-business-3-1">Một nền tảng trung tâm</p>
                </div>
                <div class="img-text">
                    <img id="img-business-2-1" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/ce5f8f256e6f3ccf9c53d42dc68fb414/business-class-feature-integration.png" alt="">
                </div>
                <div class="tx">
                    <p id="txt-business-4-1">Tích hợp các những công cụ mà bạn yêu thích vào quy trình làm việc của bạn trên Trello để dễ dàng có được tầm nhìn chiến lược cho mọi dự án mà không cần phải rời khỏi Trello.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    <p id="txt-business-3-2">Một tầm nhìn tập trung</p>
                </div>
                <div class="img-tx">
                    <img id="img-business-2-3" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/0f99b85b579fc74b3199880b3ecbd504/business-class-feature-roadmap.png" alt="">
                </div>
                <div class="ts">
                    <p id="txt-business-4-3">Cập nhật các bảng và dự án quan trọng nhất đối với nhóm của bạn.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="txt-business-3">
                    <p id="txt-business-3">Một không gian an toàn</p>
                </div>
                <div class="img-business-2">
                    <img id="img-business-2" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/cfae0699077aa768a80995ddd051271a/business-class-feature-overview.png" alt="">
                </div>
                <div class="txt-business-4">
                    <p id="txt-business-4">Bảo mật nhóm của bạn với những tính năng quản trị mạnh.</p>
                </div>
            </div>
        </div>
    </div>
    <hr width="800px" align="center" size="30px"/>
    <div class="email">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img id="img-mail-business" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/8a48436da71525b6f03974189301cfbd/mail.png" alt="">
                </div>
                <div class="col-md-8">
                    <p id="txt-business-5">Nhanh chóng có được câu trả lời cho mọi câu hỏi với hỗ trợ email ưu tiên.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background: #838fb5; height: 700px">
    <div class="body-5"><br><br><br>
        <p id="txt-business-6">Trello Business Class đang hỗ trợ cho những công ty lớn như:</p>
        <div class="row" style="margin-left: 200px;margin-right: 40px">
            <div class="col-md-2">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/company-logos/09288d3ea813b2044fac0f438ed388b1/redhat.svg" alt="" style="height: 54px">
            </div>
            <div class="col-md-2">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/company-logos/cd74fd27bcece70f45dddd2cb967b35d/fender.svg" alt="" style="height: 54px">
            </div>
            <div class="col-md-1">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/company-logos/20e7a157f944d3dfb0c982df4eba1df0/adobe.svg" alt="" style="height: 54px">
            </div>
            <div class="col-md-1" style="margin-left: 40px">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/company-logos/4b97a98cd48dc6b77162e806f27e4c0c/pixar.svg" alt="" style="height: 54px ;">
            </div>
            <div class="col-md-1" style="margin-left: 50px">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/company-logos/f5a25f44460d99e8a91086b98f194570/google.svg" alt="" style="height: 54px">
            </div>
            <div class="col-md-1" style="margin-left: 50px">
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/company-logos/25a7a1aa2da3a0831578a5721ab2931c/govuk.svg" alt="" style="height: 54px">
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 260px;margin-right: 40px;margin-top: 40px">
        <div class="col-md-3">
            <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/company-logos/7bdcee736843561e6c1026fe576255dd/kickstarter.svg" alt="" style="height: 54px">
        </div>
        <div class="col-md-3">
            <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/company-logos/389fb583dfdf4a25588a70d59ac5f819/britishredcross.svg" alt="" style="height: 54px">
        </div>
        <div class="col-md-3">
            <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/company-logos/56b2cbd3496f4a32c17d3470e3a0e742/natgeo.svg" alt="" style="height: 54px">
        </div>
    </div>
    <p id="txt-business-7">Nhấp vào các công ty tuyệt vời bên dưới để xem cách họ áp dụng Trello như một phần quan trọng trong quy trình làm việc của họ như thế nào.</p>
    <div class="row-business">
        <div class="col-md-3">
            <a href="#"><img id="img-business-3-1" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/1f52c16b45977366f089d274256d0e3d/business-class-burgerfi.png" alt=""></a>
        </div>
        <div class="col-md-3">
            <a href="#"><img id="img-business-3-2" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/eac31b70496bdc72dd20835293d86a63/business-class-deutschebahn.png" alt=""></a>
        </div>
        <div class="col-md-3">
            <a href="#"><img id="img-business-3-3" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/329c1954a9f08526e6129bfb91f026cc/business-class-mccorvey.png" alt=""></a>
        </div>
    </div>
</div>
<div class="background-business" style="margin-bottom:-25px">
    <br><br>
    <p id="txt-business-1-1"><strong>Bạn đã sẵn sàng để hoàn thành nhiều việc hơn chưa?</strong></p>
    <p id="txt-business-2-1">Đưa hiệu suất làm việc của nhóm bạn lên một mức mới với Business Class.</p>
    <p id="txt-business-2-2">Chỉ với <strong><a href="#" style="text-decoration: underline; color: white;">$9.99 cho một người dùng / tháng.</a></strong></p>
    <p id="txt-businesss">khi trả theo hằng năm</p>
    <div class="buton" style="text-align: center; margin-top: 20px; margin-bottom: 40px">
        <button type="button" class="btn btn-upgrade">Nâng cấp nhóm của tôi</button>
    </div>
    <p id="txt-business-6-1">Có thêm câu hỏi?</p>
    <p id="txt-business-6-2"><a href="#" style="text-decoration: underline; color: white;">Nói chuyện với Kinh doanh về Hạng Business </a></p>
    <p id="txt-business-6-3">Nhiều hơn 100 người ư? <a href="#" style="text-decoration: underline; color: white;">Hãy xem qua chế độ Doanh nghiệp!</a></p>
</div>
