<div style="background-color: #e0e0e0">
    <div class="container">
        <form class="frm_Login">

            <h2 class = "alignCenter">Đăng ký tài khoản mới</h2>

            <span class="error-message" [hidden]="!hasError">{{errorMessage}}</span>

            <div class="form-group">
                <label for="inp_usn">Tên đăng nhập</label>
                <input id="inp_usn" name="userid" type="text" class="form-control" [(ngModel)]="username"/>
            </div>
            <div class="form-group">
                <label for="inp_em">Email</label>
                <input id="inp_em" name="email" type="email" class="form-control" [(ngModel)]="email"/>
            </div>
            <div class="form-group">
                <label for="inp_na">Tên</label>
                <input id="inp_na" name="name" type="text" class="form-control" [(ngModel)]="name"/>
            </div>
            <div class="form-group">
                <label for="inp_pa">Mật khẩu</label>
                <input id="inp_pa" name="password" type="password" class="form-control" [(ngModel)]="password"/>
            </div>

            <div class="alignCenter">
                <button type="submit" class="btn signup" (click)="register()">Đăng ký</button>
            </div>

        </form>
    </div>

</div>
